<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DecisionViewpoints.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DecisionViewpoints.Properties.Settings>
            <setting name="RelationshipDiagramMetaType" serializeAs="String">
                <value>Decision Viewpoints::Relationship</value>
            </setting>
            <setting name="ChronologicalDiagramMetaType" serializeAs="String">
                <value>Decision Viewpoints::Chronological</value>
            </setting>
            <setting name="StakeholderInvolvementDiagramMetaType" serializeAs="String">
                <value>Decision Viewpoints::Stakeholder Involvement</value>
            </setting>
            <setting name="BaselineOptionOnFileClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BaselineOptionOnModification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BaselineOptionManually" serializeAs="String">
                <value>False</value>
            </setting>
        </DecisionViewpoints.Properties.Settings>
    </userSettings>
</configuration>